/*  для заголовков всех мастей */
@import url('https://fonts.googleapis.com/css?family=Scada:600');
/* для всего остального текста */
@import url('https://fonts.googleapis.com/css?family=Roboto:400');
body{
    background: #f3f3f3;
    font-family: 'Verdana', 'Arial','Roboto';

 
}
h1,
h2,
h3,
h4{
  color:#010101;
 
    
}
h2{
    font-size: 50px;
  
}
p{
    color: #8f8c8c;
    font-weight: 300;
    font-size: 16px;
}

.wrapp{
    width: 90%;
    
    margin: auto;
}
.sidenav{
    background: white;
    height: 100%;
    border: hidden;
    margin-right: 7px;
    padding: 0px, 0px, 4px, 0px;
    position: fixed
   
  
}
.printPost{
    background: white;
    margin-left: 25em;
    padding-top: 2px;
    padding-left: 8px;
    padding-right: px;
    border-radius: 2px;
}
.container{
    width: 70%;
}
.image {
    margin-top: 2em;
    margin-bottom: 1em;
    border-radius: 1em;
}
a{
    color: #010101;
    
    font-size: 14px !important;
   
    
}
.active a {
    background-color: #1b5155 !important;
}
.postHead{
    margin-top: 0.5em;
}
.printImg{
    width: 100%;
    
    
}
img{
    width: 100%;
    
    background-size: cover;
}




